<table>
  <tr>
    <th colspan="4"><strong>Reporte de Asistencia Por Servicio</strong></th>
  </tr>
  <tr>
    <td>Fecha</td>
    <td>01/01/2013</td>
    <td>Al</td>
    <td>31/12/2013</td>
  </tr>
</table>
<br>
<table border="1">
  <tr>
    <th><strong>SERVICIOS</strong></th>
    <td>Fecha 1</td>
    <td>Fecha 2</td>
    <td>Fecha 3</td>
  </tr>

  <tr>
    <th><strong>CULTO PRINCIPAL</strong></th>
    <td>100</td>
    <td>200</td>
    <td>300</td>
  </tr>

  <tr>
    <th><strong>Total</strong></th>
    <td>100</td>
    <td>200</td>
    <td>300</td>
  </tr>
</table>
<br>
<br>
<table>
  <tr>
    <th colspan="4"><strong>Reporte de Asistencia Por Categoria Por Servicio</strong></th>
  </tr>
</table>
<br>
<table border="1">
  <tr>
    <th colspan="2"><strong>SERVICIOS/CATEGORÍA</strong></th>
    <td>Fecha 1</td>
    <td>Fecha 2</td>
    <td>Fecha 3</td>
  </tr>
  <tr>
    <th rowspan="4"><strong>CULTO PRINCIPAL</strong></th>
    <th>Mujeres Jóvenes</th>
    <td>100</td>
    <td>200</td>
    <td>300</td>
  </tr>
  <tr>
    <th>Hombres Jóvenes</th>
    <td>100</td>
    <td>200</td>
    <td>300</td>
  </tr>
  <tr>
    <th>Mujeres</th>
    <td>100</td>
    <td>200</td>
    <td>300</td>
  </tr>
  <tr>
    <th>Hombres</th>
    <td>100</td>
    <td>200</td>
    <td>300</td>
  </tr>
  <tr>
    <th>Total</th>
    <td>100</td>
    <td>200</td>
    <td>300</td>
  </tr>
</table>