/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Diezmo
      %small
        %li Home
        %li /
        %li Reportes
        %li /
        %li Diezmo
  / Page title end
  / Row start
  .row
    .col-md-12
      .widget
        .row
          .col-md-12.col-sm-12
            .widget
              .widget-header
                .title 
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                    Reporte
              .widget-body
                %form#form_asistencia.form-horizontal{name: "form_asistencia", method: "post"}
                  .form-group
                    %label.col-lg-2.control-label{for: "servicio"} Fecha
                    .col-lg-10
                      .row
                        .col-lg-2.col-sm-2
                          %input#fecha1.datepicker.form-control{name: "fecha1", type: "text"}
                        %label.col-lg-1.col-sm-1.checkbox-inline{style:"text-align:center;"}
                          Al
                        .col-lg-2.col-sm-2
                          %input#anio.datepicker.form-control{name: "anio", type: "text"}
                        .col-lg-2.col-sm-2
                          %button#btnGenerar_asistencia.btn.btn-success{type: "button", name: "btnGenerar_asistencia"} 
                            Generar
        .row
          .col-md-12.col-sm-12
            .widget
              .widget-header
                .title
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Reporte de Diezmos General
              %table#table_diezmo.data-table.table.table-condensed.table-striped.table-hover.table-bordered.pull-left
                %thead
                  %tr
                    %th Miembro
                    %th Fecha
                    %th Monto
                    %th Petición
                %tbody
                  %tr
                    %td Richard Oruna
                    %td 21/01/2014
                    %td 200
                    %td LOL
                  %tr
                    %td 
                    %th Total
                    %td 600
                    %td 
        .row
          .col-md-12.col-sm-12
            .widget
              %button#btnImprimir.btn.btn-default{type: "button", name: "btnImprimir"}
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""} 
                Imprimir
              %button#btnReporte.btn.btn-success{type: "button", name: "btnReporte"}
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""} 
                Reporte Excel