<table>
  <tr>
    <th colspan="4"><strong>Reporte de Diezmos General</strong></th>
  </tr>
  <tr>
    <td>Fecha</td>
    <td>01/01/2013</td>
    <td>Al</td>
    <td>31/12/2013</td>
  </tr>
</table>
<br>
<table border="1">
  <tr>
    <th><strong>Miembro</strong></th>
    <th><strong>Fecha</strong></th>
    <th><strong>Monto</strong></th>
    <th><strong>Petición</strong></th>
  </tr>
  <tr>
    <td>Richard Oruna</td>
    <td>21/01/2014</td>
    <td>200</td>
    <td>LOL</td>
  </tr>
  <tr>
    <td></td>
    <td>Total</td>
    <td>300</td>
    <td></td>
  </tr>
</table>
<br>
<br>
<table>
  <tr>
    <th colspan="4"><strong>Reporte de Diezmos por Persona</strong></th>
  </tr>
  <tr>
    <td>Fecha</td>
    <td>01/01/2013</td>
    <td>Al</td>
    <td>31/12/2013</td>
  </tr>
  <tr>
    <td>Miembro</td>
    <td colspan='3'>Richard Oruna</td>
  </tr>
</table>
<br>
<table border="1">
  <tr>
    <th><strong>Fecha</strong></th>
    <th><strong>Monto</strong></th>
    <th><strong>Petición</strong></th>
  </tr>
  <tr>
    <td>21/01/2014</td>
    <td>200</td>
    <td>LOL</td>
  </tr>
  <tr>
    <td></td>
    <td>Total</td>
    <td>300</td>
  </tr>
</table>