<table>
  <tr>
    <th colspan="4"><strong>Reporte de Ofrendas</strong></th>
  </tr>
  <tr>
    <td>Fecha</td>
    <td>01/01/2013</td>
    <td>Al</td>
    <td>31/12/2013</td>
  </tr>
</table>
<br>
<table>
  <tr>
    <th><strong>Servicio</strong></th>
    <th><strong>Turno</strong></th>
    <th><strong>Monto</strong></th>
  </tr>
  <tr>
    <td>Reu de Jóvenes</td>
    <td>7:00 p.m.</td>
    <td>200</td>
  </tr>
  <tr>
    <td colspan="2">Total</td>
    <td>300</td>
  </tr>
</table>