/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Usuarios
      %small
        %li Inicio
        %li /
        %li Usuarios
  / Page title end
  / Row start
  .row
    .col-md-12
      .widget
        .widget-body{style:"border:none;"}
          %button#registrar_usuario.btn.btn-primary.btn-block{type: "button"} 
            %span.fs1{"aria-hidden" => "true", "data-icon" => ""} 
            Registrar Usuario
  / Row end
  / Row start
  .row
  = render 'layouts/mensaje'
  .col-md-12#usuario
    .widget
      .widget-header
        .title
          %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
          Registrar Usuario
      .widget-body
        = form_tag("" , {:method=>'post',:class=>'form-horizontal', :id => "form_usuario" , :name => "form_usuario"}) do
          .wizard
            %ol
              %li Registrar
              %li Perfil
            %button.btncancelarform.btn.btn-default{type: "button", style:"float: right; margin-top:-40px;"} Cancelar
            %div
              .form-group
                %label.col-lg-2.control-label{for: "usuario"} Usuario
                .col-lg-10
                  .row
                    .col-lg-2.col-sm-2
                      %input#usuario.form-control{name: "usuario", type: "text"}
                    %label.col-lg-2.col-sm-2.control-label Password
                    .col-lg-2.col-sm-2
                      %input#password.form-control{name: "password", type: "password"}
              .form-group
                %label.col-lg-2.control-label{for: "nombre"} Nombre
                .col-lg-10
                  .row
                    .col-lg-2.col-sm-2
                      %input#nombre.form-control{name: "nombre", type: "text"}
                    %label.col-lg-2.col-sm-2.control-label Apellido
                    .col-lg-2.col-sm-2
                      %input#apellido.form-control{name: "apellido", type: "text"}
                    %label.col-lg-2.col-sm-2.control-label N° Documento
                    .col-lg-2.col-sm-2
                      %input#num_doc.form-control{name: "num_doc", type: "text"}
            %div
              .form-group
                %label.col-lg-2.control-label Opciones
                .col-lg-10
                  .row
                    %label.col-lg-2.col-sm-2.checkbox-inline
                      %input#persona{type: "checkbox", name: "persona"}/
                      Persona
                    %label.col-lg-2.col-sm-2.checkbox-inline
                      %input#diezmos{type: "checkbox", name: "diezmos"}/
                      Diezmos
                    %label.col-lg-2.col-sm-2.checkbox-inline
                      %input#ofrendas{type: "checkbox", name: "ofrendas"}/
                      Ofrendas
              .form-group
                %label.col-lg-2.control-label Administrativas
                .col-lg-10
                  .row
                    %label.col-lg-2.col-sm-2.checkbox-inline
                      %input#asistencia{type: "checkbox", name: "asistencia"}/
                      Asistencia
                    %label.col-lg-2.col-sm-2.checkbox-inline
                      %input#informacion{type: "checkbox", name: "informacion"}/
                      Información
                    %label.col-lg-2.col-sm-2.checkbox-inline
                      %input#configuracion{type: "checkbox", name: "configuracion"}/
                      Configuración
              .form-group
                .col-lg-offset-2.col-lg-10
                  %input#btnGuardar_Usuario.btn.btn-success{type: "button", value: "Guardar"}
  / Row end
  / Row start
  .row
    .col-md-12
      .widget
        .widget-header
          .title
            %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
            Usuarios
        .widget-body
          #dt_example.example_alt_pagination
            %table#table_registrados.data-table.table.table-condensed.table-striped.table-hover.table-bordered.pull-left
              %thead
                %tr
                  %th{style: "width:25%"} ID
                  %th{style: "width:35%"} Usuario
                  %th.hidden-phone{style: "width:15%"} Nombre y Apellido
                  %th.hidden-phone{style: "width:10%"} Acciones
              %tbody
                %tr.gradeX
                  %td John
                  %td Tacoma, WA(Washington)
                  %td.hidden-phone $22590
                  %td.hidden-phone
                    %a.actions-icons{"data-original-title" => "Editar", href: "#"}
                      %img.icons{alt: "edit", src: "http://d9i0z8gxqnxp1.cloudfront.net/img/edit-icon.png"}/
                    %a.actions-icons{"data-original-title" => "Ver", href: "#"}
                      %span.fs1.glyphicon.glyphicon-eye-open{"aria-hidden" => "true"}
                    %a.delete-row{"data-original-title" => "Eliminar", href: "#"}
                      %img{alt: "trash", src: "http://d9i0z8gxqnxp1.cloudfront.net/img/trash-icon.png"}/
                %tr.gradeA
                  %td Ruchita
                  %td Fresno, CA 93711-1005
                  %td.hidden-phone $98450
                  %td.hidden-phone
                    %a.actions-icons{href: "#"}
                      %img.icons{alt: "edit", src: "http://d9i0z8gxqnxp1.cloudfront.net/img/edit-icon.png"}/
                    %a.delete-row{"data-original-title" => "Delete", href: "#"}
                      %img{alt: "trash", src: "http://d9i0z8gxqnxp1.cloudfront.net/img/trash-icon.png"}/

            .clearfix
  / Row end

- content_for :bloquejavascript do
  = javascript_include_tag :usuario