/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Lugar
      %small
        %li Home
        %li /
        %li Lugar
  / Page title end
  / Row start
  .row
    .col-md-12
      .widget
        .widget-body
          .row
            .col-md-6.col-sm-6
              .widget
                .widget-header
                  .title 
                    %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                    Dashboard
                .widget-body
                  #dash_miembro
            .col-md-6.col-sm-6
              .widget
                .widget-header
                  .title 
                    %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                    Dashboard
                .widget-body
                  #dash_visita
            
