/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Diezmos
      %small
        %li Home
        %li /
        %li Diezmos
  / Page title end
  / Row start
  .row
    .col-md-12
      .widget
        .widget-header
          %a.btn#registrar_diezmo.btn-primary.btn-block{ href: "#collapseOne"}
            Agregar Diezmo
        %div#diezmo_div{style: "display:none"}
          .widget-body
            = form_tag("", {:method=>'post',:class=>'form-horizontal', :id => "form_diezmo" , :name => "form_diezmo"}) do
            
              .form-group
                %label.col-lg-2.control-label{for: "persona"} Persona
                %input#persona_hidden{name: "persona_hidden", required: true, type: "hidden"}
                .col-lg-10
                  %input#persona.form-control{name: "persona", type: "text" , required: true}/

              .form-group
                %label.col-lg-2.control-label{for: "fecha"} Fecha
                .col-lg-10
                  %input#fecha.form-control.datepicker{name: "fecha", type: "text"}/

              .form-group
                %label.col-lg-2.control-label{for: "monto"} Monto
                .col-lg-10
                  %input#monto.form-control{name: "monto", type: "text"}/
              .form-group
                %label.col-lg-2.control-label{for: "peticion"} Petición
                .col-lg-10
                  %textarea#peticion.form-control{name: "peticion"}
              .form-group
                .col-lg-offset-2.col-lg-10
                  %button.btn.btn-default{type: "button"} Cancelar
                  %button#btnGuardar_Diezmo.btn.btn-success{type: "button"} Guardar
  / Row end
  / Row start
  .row
    .col-md-12
      .widget
        .widget-header
          .title
            %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
            Lista de Ofrendas
        .widget-body
          #dt_example.example_alt_pagination
            %table#table_diezmos.table.table-condensed.table-striped.table-hover.table-bordered.pull-left
              %thead
                %tr
                  %th{style: "width:40%"} Persona
                  %th{style: "width:15%"} Fecha
                  %th{style: "width:15%"} Monto
                  %th{style: "width:30%"} Petición
              %tbody
            .clearfix
  / Row end
/ Dashboard wrapper end
/ Main Container end