.widget
	.widget-header
		%h3 Buscar
		%a.btn{"data-toggle" => "modal", href: "#ModalRegistrar", style: "float: right; margin: 6px;"}
			%i.icon-plus{style: "margin:0; "}
	.widget-body
		%br/
		= form_tag( "",{:method=>'post',:class=>'form-horizontal'}) do
			%fieldset
				.form-group
					%span.label Filtro
					.form-input
						%input#filtro{style: "margin-right:20px;", type: "text"}
						%select#tipofiltro{style: "margin-right:20px;"}
							%option{value:"1"} Nombre
							%option{value: "2"} Apellido
						%button.btn.btn-primary{type: "submit"} Buscar