%form.login-wrapper{action: "#", method: "post"}
  .header
    .row
      .col-md-12
        %h3
          Login
          = image_tag("logo.png", :class => 'pull-right', :alt => 'Logo')
        %p Fill out the form below to login.
  .content
    .row
      .col-md-12.col-sm-12
        %input.input.col-md-12.col-sm-12.email{id: "", name: "", placeholder: "example@mailll.com", required: "required", type: "email", value: ""}/
    .row
      .col-md-12.col-sm-12
        %input.input.col-md-12.col-sm-12.password{id: "", name: "", placeholder: "********", required: "required", type: "password"}/
  .actions
    %a.btn.btn-danger{href: "index.html"} Login
    %a.link{href: "#"} Forgot Password?
    .clearfix