/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Asistencia
      %small
        %li Home
        %li /
        %li Asistencia
  / Page title end
  / Row start
  .row
    #accordion.col-md-12
      .widget.accordion-group
        .widget-header
          %a.btn.btn-primary.btn-block{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseOne"}
            Agregar Asistencia
        #collapseOne.panel-collapse.collapse
          .widget-body
            = form_tag(asistencia_guardar_path , {:method=>'post',:class=>'form-horizontal', :id => "form_asistencia", :name=> "form_asistencia"}) do
              .form-group
                %label.col-lg-2.control-label{for: "fecha"} Fecha
                .col-lg-2
                  %input#fecha.form-control{name: "fecha", type: "date"}/
              .form-group
                %label.col-lg-2.control-label{for: "servicio"} Servicio
                .col-lg-2
                  = servicios_select()
              .form-group
                %label.col-lg-2.control-label{for: "categoria"} Categoría
                .col-lg-10
                  .row
                    .col-lg-3.col-sm-3
                      %select#categoria.form-control{name: "categoria"}
                        %option{value: "0"} Mujeres Jóvenes
                        %option{value: "1"} Hombres Jóvenes
                        %option{value: "2"} Mujeres
                        %option{value: "3"} Hombres
                    %label.col-lg-3.col-sm-3.control-label N° Asistentes
                    .col-lg-1.col-sm-1
                      %input#asistentes.form-control{name: "asistentes", type: "number", min:"0", value:"0"}/
                    .col-lg-1.col-sm-1
                      %button#agregar_asistentes.btn.btn-default{"data-original-title" => "", type: "button"} +
              #dt_example.example_alt_pagination.col-lg-7.col-lg-offset-2
                %table#table_categoria_asistencia.table.table-condensed.table-striped.table-hover.table-bordered.pull-left
                  %thead
                    %tr
                      %th{style: "width:25%"} Servicio
                      %th{style: "width:25%"} Categoría
                      %th.hidden-phone{style: "width:25%"} Asistentes
                      %th.hidden-phone{style: "width:25%"} Acciones
                  %tbody

              .clearfix
              .form-group
                .col-lg-offset-2.col-lg-10
                  %button.btn.btn-default{type: "button"} Cancelar
                  %input.btn.btn-success{type: "submit", value: "Guardar"}
  / Row end
  / Row start
  .row
    .col-md-12
      .widget
        .widget-header
          .title
            %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
            Lista de Asistencia
        .widget-body
          #dt_example.example_alt_pagination
            %table#table_diezmos.data-table.table.table-condensed.table-striped.table-hover.table-bordered.pull-left
              %thead
                %tr
                  %th{style: "width:25%"} Servicio
                  %th{style: "width:35%"} Fecha
                  %th.hidden-phone{style: "width:15%"} Categoria
                  %th.hidden-phone{style: "width:15%"} # asistencia
              %tbody
                %tr.gradeX
                  %td John
                  %td Tacoma, WA(Washington)
                  %td.hidden-phone 0099009900
                  %td.hidden-phone $22590
                %tr.gradeA
                  %td Ruchita
                  %td Fresno, CA 93711-1005
                  %td.hidden-phone 0006008800
                  %td.hidden-phone $98450
                %tr.gradeU
                  %td Barote babu
                  %td Baripoda, 35-Africa
                  %td.hidden-phone 2059990099
                  %td.hidden-phone $99876
                %tr.gradeC
                  %td Arjun Aurs
                  %td 395 - Yumi Street, London
                  %td.hidden-phone 0088770099
                  %td.hidden-phone $44550
                %tr.gradeA
                  %td Tom Maskerre
                  %td Brigade road - Africa
                  %td.hidden-phone 1002001000
                  %td.hidden-phone $9992
                %tr.gradeX
                  %td Maitai Mui
                  %td 24- Chingcgang - China
                  %td.hidden-phone 0011001100
                  %td.hidden-phone $44560
                %tr.gradeU
                  %td Himresh Mayi
                  %td Anniston, AL 36207-1211
                  %td.hidden-phone 0000002200
                  %td.hidden-phone $88790
                %tr.gradeU
                  %td Gajju Marnison
                  %td Downingtown, PA 1133-1209
                  %td.hidden-phone 1234321678
                  %td.hidden-phone $9908
                %tr.gradeA
                  %td Powell Pack
                  %td South Orange, NJ
                  %td.hidden-phone 1123889911
                  %td.hidden-phone $77651
                %tr.gradeU
                  %td Kinsin Mane
                  %td Dublin, OH 13019-8579
                  %td.hidden-phone 1919189191
                  %td.hidden-phone $22189
                %tr.gradeU
                  %td Barote babu
                  %td Baripoda, 35-Africa
                  %td.hidden-phone 2059990099
                  %td.hidden-phone $99876
                %tr.gradeA
                  %td Tom Maskerre
                  %td Brigade road - Africa
                  %td.hidden-phone 1002001000
                  %td.hidden-phone $9992
                %tr.gradeX
                  %td Maitai Mui
                  %td 24- Chingcgang - China
                  %td.hidden-phone 0011001100
                  %td.hidden-phone $44560
                %tr.gradeU
                  %td Himresh Mayi
                  %td Anniston, AL 36207-1211
                  %td.hidden-phone 0000002200
                  %td.hidden-phone $88790
                %tr.gradeU
                  %td Gajju Marnison
                  %td Downingtown, PA 1133-1209
                  %td.hidden-phone 1234321678
                  %td.hidden-phone $9908
                %tr.gradeA
                  %td Powell Pack
                  %td South Orange, NJ
                  %td.hidden-phone 1123889911
                  %td.hidden-phone $77651
            .clearfix
  / Row end
/ Dashboard wrapper end
/ Main Container end
