!!!
/[if lt IE 7]
  <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7]
  <html class="lt-ie9 lt-ie8" lang="en">
/[if IE 8]
  <html class="lt-ie9" lang="en">
/
  [if gt IE 8]>
  <!
%html{lang: "es"}
  /
    <![endif]
  %head
    %meta{charset: "utf-8"}/
    %title Diezmos - Admin Church
    %meta{content: "CLM Developers", name: "author"}/
    %meta{content: "width=device-width, initial-scale=1.0, user-scalable=no", name: "viewport"}/
    %meta{content: "Admin Church", name: "description"}/
    %meta{content: "Admin Chuch, CLM Developers, Administración Eclesiástica, Iglesia", name: "keywords"}/
    %script{src: "http://d9i0z8gxqnxp1.cloudfront.net/js/html5-trunk.js"}
    %link{href: "http://d9i0z8gxqnxp1.cloudfront.net/icomoon/style.css", rel: "stylesheet"}/
    /[if lte IE 7]
      <script src="http://d9i0z8gxqnxp1.cloudfront.net/css/icomoon-font/lte-ie7.js"></script>
    / bootstrap css
    %link{href: "http://d9i0z8gxqnxp1.cloudfront.net/css/bootstrap.css", rel: "stylesheet"}/
    / custom css
    %link{href: "http://d9i0z8gxqnxp1.cloudfront.net/css/main.css", rel: "stylesheet"}/
  %body
    / Header start
    %header
      / Logo start
      .logo
        A
        %span C
      / Logo end
      / Optional Dropdown start
      #optional-dropdown
        %ul
          %li
            %a{href: "index.html"}
              %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
          %li
            %a{href: "invoice.html"}
              %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              %span.count-label
            %ul
              %li
                %a{href: "invoice.html"}
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Invoice
              %li
                %a{href: "maps.html"}
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Maps
              %li
                %a{href: "profile.html"}
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Profile
              %li
                %a{href: "typography.html"}
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Typography
              %li
                %a{href: "calendar.html"}
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Calendar
              %li
                %a{href: "mail.html"}
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Messages
              %li
                %a{href: "icons.html"}
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Icons
              %li
                %a{href: "grid.html"}
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Grid
              %li
                %a{href: "error.html"}
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  404
          %li
            %a{href: "mail.html"}
              %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              %span.count-label
      / Optional Dropdown end
      / Search bar start
      .custom-search
        %input.search-query{type: "text"}/
        %button
          %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
      / Search bar end
      / Mini navigation start
      #mini-nav
        %ul
          %li.hidden-sm
            %a{href: "maps.html"}
              Dropdown
              %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              %span.count-label 7
            %ul
              %li
                %a{href: "maps.html"}
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Maps
              %li
                %a{href: "invoice.html"}
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Invoice
          %li.hidden-sm
            %a{href: "maps.html"}
              %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              %span.count-label 6
            %ul
              %li
                %a{href: "maps.html"}
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Maps
          %li.hidden-sm
            %a{href: "mail.html"}
              %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              %span.count-label 5
            %ul
              %li
                %a{href: "mail.html"}
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Messages
          %li
            %a{href: "login.html"}
              %span.text-label Mr. John
              %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
            %ul.user-summary
              %li
                .summary
                  .user-pic
                    %img{alt: "Slick Admin", src: "http://d9i0z8gxqnxp1.cloudfront.net/img/avatar-1.png"}/
                  .basic-details
                    %h4.no-margin Johnny
                    %h5.no-margin UX Designer
                    %small Garabandha, India
                  .profile-progress
                    .chart-progress{"data-percent" => "68"}
                      68%
                  .clearfix
              %li
                %button.btn.btn-xs.btn-danger.pull-right{onclick: "location.href='login.html'"} Logout
                %span.clearfix
      / Mini navigation end
    / Header end
    / Main Container start
    .main-container
      / Mian navigation start
      #mainnav
        / User pic start
        .user-profile-pic
          %img{alt: "Slick Admin", src: "http://d9i0z8gxqnxp1.cloudfront.net/img/avatar-1.png"}/
        / User pic end
        %ul
          %li
            %a{href: persona_path}
              .icon
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              Persona
          %li
            %span.current-arrow
            %a{href: diezmos_path}
              .icon
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              Diezmos
          %li
            %a{href: ofrendas_path}
              .icon
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              Ofrendas
          %li
            %a{href: asistencia_path}
              .icon
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              Asistencia
          %li
            %a{href: "charts.html"}
              .icon
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              Información
          %li
            %a{href: "invoice.html"}
              .icon
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              Configuración
            %ul
              %li
                %a{href: configuracion_datos_generales_path} Datos Generales
              %li
                %a{href: configuracion_lugar_path} Lugar
              %li
                %a{href: configuracion_servicios_path} Servicios
      / Mian navigation end
      =yield
    / Scripts
    %script{src: "http://d9i0z8gxqnxp1.cloudfront.net/js/jquery.min.js"}
    %script{src: "http://d9i0z8gxqnxp1.cloudfront.net/js/bootstrap.js"}
    %script{src: "http://d9i0z8gxqnxp1.cloudfront.net/js/jquery-ui-1.8.23.custom.min.js"}
    / Easy pie charts 
    %script{src:"http://d9i0z8gxqnxp1.cloudfront.net/js/jquery.easy-pie-chart.js"}
    / Sparkline JS
    %script{src:"http://d9i0z8gxqnxp1.cloudfront.net/js/jquery.sparkline.js"}
    / Data tables
    %script{src: "http://d9i0z8gxqnxp1.cloudfront.net/js/jquery.dataTables.js"}
    / Custom Js
    %script{src: "http://d9i0z8gxqnxp1.cloudfront.net/js/custom-tables.js"}
    / custom Js
    %script{src: "http://d9i0z8gxqnxp1.cloudfront.net/js/custom.js"}
    = javascript_include_tag :diezmos